body{
	background-image: url("https://cdn.wallpapersafari.com/12/29/kbrCBc.jpg");
	background-size:cover;
	margin: 0;

	background-attachment: fixed;
	text-align: center;
	color: white;
}

h2{
	text-decoration: underline;
}

form{
	
	box-shadow: 0 0 10px;
}
